# Download CSV


https://www.airbnb.com.tw/users/transaction_history#gross-earnings

https://www.airbnb.com.tw/users/transaction_history

In [7]:
import pandas as pd
import numpy as np
import datetime

In [8]:
data = pd.read_csv('/Users/chingtien/downloads/History.csv', parse_dates=['Date'])
data = data.drop(columns = ['Confirmation Code','Guest','Listing', 'Details', 'Reference'], axis = 1)

In [9]:
data['Date'] = pd.to_datetime(data['Date'])
data = data.fillna(0)
data['Weekday'] = data['Date'].dt.dayofweek
data['Weekday'].astype('str').astype('int')
data['Nights'] = data['Nights'].astype('int')
for i in range(1,8):
    data[i] = 0

data.head(20)

def setElapsedWeekDays(x):
    for i in range(1,8):
            x[i] = 0  
    if x['Nights'] >=7 : 
        for i in range(1,8):
            x[i] = 1
    else: 
        for i in range(x['Nights']):
            x[x['Weekday']+i] = 1 
    
    return x 
        

data = data.apply(setElapsedWeekDays, axis=1)

In [16]:
Total = data['Host Fee'].sum()
income = data['Amount'].sum()
day = data['Date']
#print ("Airbnb 幫你賺了新台幣：",income)
print ("你總共付給 Airbnb 新台幣：",Total)

你總共付給 Airbnb 新台幣： 5284.67

In [17]:
data.head()

,Date,Type,Start Date,Nights,Currency,Amount,Paid Out,Host Fee,Cleaning Fee,Weekday,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,2020-10-01 00:00:00,Payout,0,0,AUD,0.00,144.75,0.00,0.0,3,0,0,0,0,0,0,0
1,2020-10-01 00:00:00,Reservation,9/30/2020,4,TWD,2993.83,0.00,102.17,0.0,3,0,0,1,1,1,1,0
2,2020-09-27 00:00:00,Payout,0,0,AUD,0.00,41.28,0.00,0.0,6,0,0,0,0,0,0,0
3,2020-09-27 00:00:00,Reservation,9/26/2020,1,TWD,849.41,0.00,28.99,0.0,6,0,0,0,0,0,1,0
4,2020-09-06 00:00:00,Payout,0,0,AUD,0.00,629.48,0.00,0.0,6,0,0,0,0,0,0,0

In [20]:
data.mean()

Nights            0.913043
Amount          769.475700
Paid Out         38.180145
Host Fee         25.529807
Cleaning Fee      0.004831
Weekday           3.700483
Mon               0.062802
Tue               0.086957
Wed               0.091787
Thu               0.106280
Fri               0.169082
Sat               0.188406
Sun               0.067633
dtype: float64

In [ ]:
data.sum(axis = 0)